@import url("https://fonts.cdnfonts.com/css/digital-7-mono");
body {
  max-width: 500px;
  margin: 0 auto;
}
.title {
  text-align: center;
}

.title span:first-child {
  font-family: "Digital-7", sans-serif;
}

.calculator {
  width: 500px;
  height: 580px;
  border: 3px solid black;
  margin-top: 20px;
}

.CalculatorScreen {
  background-color: rgba(154, 205, 50, 0.67);
  height: 100px;
  text-align: right;
  border: 1px solid black;
}

.calcNumbers {
  font-size: 50px;
  font-family: "Digital-7", sans-serif;
}

.CalcButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.CalcButton {
  flex: 1 0 21%;
  padding: 20px;
  border: 1px solid black;
}
